@font-face {
    font-family: 'Ubuntu Light';
    src: url('../fonts/Ubuntu-Light.ttf');
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: 'Ubuntu Medium';
    src: url('../fonts/Ubuntu-Medium.ttf');
}

@font-face {
    font-family: 'Ubuntu Bold';
    src: url('../fonts/Ubuntu-Bold.ttf');
}

.root {
    -fx-font-size: 16px;
    -fx-font-family: 'Ubuntu Light';
    -fx-background-color: #2F3F48;
    -fx-text-fill: white;
}

.label {
    -fx-font-family: 'Ubuntu';
    -fx-text-fill: white;
}

#dataLabel {
    -fx-font-family: 'Ubuntu';
    -fx-text-fill: white;
}

.jfx-button {
    -fx-font-family: 'Ubuntu';
    -jfx-button-type: RAISED;
    -fx-background-color: white;
    -fx-text-fill: #EA5822;
}

#returnButton {
    -fx-font-family: 'Ubuntu Medium';
    -fx-font-size: 13px;
}

#saveButton {
    -fx-font-family: 'Ubuntu Medium';
    -fx-font-size: 13px;
}

#saveToFileButton {
    -fx-font-family: 'Ubuntu Medium';
    -fx-font-size: 13px;
}

.list-view {
    -fx-background-color: #e8e8e8;
    -fx-border-color: #2F3F48;
    -fx-border-width: 5px;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color:#EA5822;
    -fx-text-fill: white;
}

.list-cell {
    -fx-background-color: white;
    -fx-text-fill: #2F3F48;
}

.list-cell:filled:hover {
    -fx-background-color: #EA5822;
    -fx-text-fill: white;
}

.jfx-combo-box {
    -fx-background-color:  white;
    -fx-text-fill:#2F3F48;
}

.combo-box .arrow,
.choice-box .arrow {
    -fx-background-color: #EA5822;
}

.table-view:focused .table-row-cell:selected{
    -fx-background-color: #e8e8e8;
    -fx-table-cell-border-color: white;
}

.table-view:focused .table-row-cell:selected .table-cell {
    -fx-background-color: #e8e8e8;
    -fx-table-cell-border-color: white;
}

.table-view .column-header,
.table-view .column-header-background,
.table-view .column-header-background .filler {
    -fx-background-color: TRANSPARENT;
}

.table-view .column-header {
    -fx-border-width: 0 1 0 1;
    -fx-border-color: #F3F3F3;
}

.table-view .column-header .label {
    -fx-font-family: 'Ubuntu';
    -fx-text-fill: #EA5822;
    -fx-font-size: 15px;
    -fx-padding: 16 0 16 0;
}

.table-view .column-header .arrow, .table-view .column-header .sort-order-dot {
    -fx-background-color: #EA5822;
}

.table-view .column-header-background {
    -fx-border-width: 0 0.0 1 0;
    -fx-border-color: #F3F3F3;
}

.table-view .table-cell {
    -fx-border-width: 0 0 0 0;
    -fx-padding: 16 0 16 0;
    -fx-alignment: top-center;
}

.table-view .column-overlay {
    -fx-background-color: white;
}

.table-view .column-resize-line, .table-view .column-drag-header {
    -fx-background-color: #EA5822;
}

.table-row-cell > .disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}

.table-row-cell .jfx-text-field {
    -fx-focus-color: rgb(82, 100, 174);
}

.table-view .menu-item:focused {
    -fx-background-color: white;
}

.table-view .menu-item .label {
    -fx-padding: 5 0 5 0;
}

.table-cell.column-style {
    -fx-text-fill: #636363;
    -fx-font-size: 14px;
}

.table-cell.column-style2 {
    -fx-text-fill: #EA5822;
    -fx-font-size: 14px;
}